
body {
  background-color: #fff5d7;
  font-family: "Montserrat";
}


h1{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
}

.startingpage{
  background-color:#ffaaab;
  padding: 7% 15%;
}

.button-quiz{

}
.mountainimage {
transform: rotate(-0deg);

}

.startingpagetext{
  font-family: 'Ubuntu', sans-serif;
  font-size: 150%;
}

.startingpage-text{
    padding-bottom: 40px;
    color: #FFFFFF;
}
.container-fluid{
  padding: 3% 15%;
  font-family: Montserrat;
}

/* NAvigation-Bar */

.navbar{
  padding-bottom: 4.5rem;
}

.nav-item{
  padding: 0 12px;
}

/* Check-items */

.checkitem-text{
  font-family: 'Montserrat Alternates';
  padding-bottom: 5%;
}

.check-items{
  background-color: #fff5d7;
  padding: 7% 15%;
}

.icon{
  padding-left: 10rem;
}
.text{
  padding-left: 10rem;
}
.fas {
  color: #ff5e6c;

}
.fas:hover{
  color: #BF0000;
}
.far {
  color: #ff5e6c;
}

.far:hover {
  color: #BF0000;
}

/* Next Date */

.nextdate{
  padding: 7% 15%;
  background-color: #ffaaab;

}

/* previus dates */

#testimonials{
  padding: 7% 15%;
}
/* Quiz */

.quiz{
  background-color:  #fff5d7;
  font-family: 'Montserrat Alternates';
}
