
html{
  scroll-behavior: smooth;
}

body {
  background-color: #fff5d7;
  font-family: "Montserrat";
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Ubuntu', sans-serif;
}


/* Headings */

.heading-nextdate{
  font-size: 2.5rem;
  line-height: 1.5;
  text-align: center;
}

/* Sections */

.pink-section{
  background-color:#ffaaab;
  color: white;

}

.beige-section{
  background-color: #fff5d7;
}
/* NAvigation-Bar */

.navbar{
  padding-bottom: 4.5rem;
}

.nav-item{
  padding: 0 12px;
}

.container-fluid{
  padding: 3% 15%;
  font-family: Montserrat;
}

/* Starting Page */

.startingpage{

  padding: 7% 15%;
}

.mountainimage {
  width: 100%;
padding-top: 10px;
position: absolute;
}

@media (max-width: 1080px) {
  .mountainimage {
    width: 100%;
  padding-top: 10px;
  position: static;
  }
}

.takethequiz{
  color: #FFFFFF;
}

.startingpagetext{
  font-family: 'Ubuntu', sans-serif;
  font-size: 150%;
}

.startingpage-text{
    padding-bottom: 40px;
    color: #FFFFFF;
}

/* Check-items */


.check-items{

  padding: 7% 15%;
  position:relative;
  z-index: 1;
}
.checkitem-text{
  font-family: 'Montserrat Alternates';
  padding-bottom: 5%;
}

.far {
  color: #ff5e6c;
}

.fas{
    color: #ff5e6c;
}
.fas:hover {
color: #BF0000;
}

.far:hover {
  color: #BF0000;
}


/* Next Date */

.nextdate{
  padding: 7% 15%;


}

/* previus dates */

.previousdates-text{
  font-size: 2.5rem;
  line-height: 1.5;
  text-align: center;
  padding-top: 5rem;
}

@media (max-width: 1000px){
  .previousdates-text{
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    padding-top: 5rem;
  }

}
.carousel-item{
  padding: 11% 15%;
}


.carousel-caption {
      max-width: 550px;
      padding: 0 40px;
      margin:0 auto;
      margin-top: 500px;
      font-size: 2rem;
      text-align:center;
      color: black;

}



/* Date Options */

.date-options-header{
  text-align: center;
padding-bottom: 7%;
}

.date-options{
font-family: 'Ubuntu', sans-serif;
  padding: 7% 15%;
}

  .card-header{
    color: black;
  text-align: center;
  }

.card-body{
  color: black;
    text-align: center;
}
.date-options-column{
  padding: 3% 2%;
}
